@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 235 85% 13%;
    --foreground: 160 19% 89%;
    --card: 263 69% 28%;
    --card-foreground: 160 19% 89%;
    --popover: 263 69% 28%;
    --popover-foreground: 160 19% 89%;
    --primary: 124 96% 48%;
    --primary-foreground: 354 78% 9%;
    --secondary: 256 54% 43%;
    --secondary-foreground: 160 19% 89%;
    --muted: 263 47% 37%;
    --muted-foreground: 54 11% 64%;
    --accent: 354 78% 9%;
    --accent-foreground: 160 19% 89%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 160 19% 89%;
    --border: 260 29% 46%;
    --input: 260 29% 46%;
    --ring: 124 96% 48%;
    --chart-1: 43 99% 48%;
    --chart-2: 309 91% 57%;
    --chart-3: 30 93% 51%;
    --chart-4: 121 98% 53%;
    --chart-5: 39 98% 57%;
    --radius: 0.5rem;
    --sidebar-background: 263 69% 28%;
    --sidebar-foreground: 160 19% 89%;
    --sidebar-primary: 124 96% 48%;
    --sidebar-primary-foreground: 354 78% 9%;
    --sidebar-accent: 263 47% 37%;
    --sidebar-accent-foreground: 160 19% 89%;
    --sidebar-border: 260 29% 46%;
    --sidebar-ring: 124 96% 48%;
  }
  .dark {
    --background: 235 85% 13%;
    --foreground: 160 19% 89%;
    --card: 263 69% 28%;
    --card-foreground: 160 19% 89%;
    --popover: 263 69% 28%;
    --popover-foreground: 160 19% 89%;
    --primary: 124 96% 48%;
    --primary-foreground: 354 78% 9%;
    --secondary: 256 54% 43%;
    --secondary-foreground: 160 19% 89%;
    --muted: 263 47% 37%;
    --muted-foreground: 54 11% 64%;
    --accent: 354 78% 9%;
    --accent-foreground: 160 19% 89%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 160 19% 89%;
    --border: 260 29% 46%;
    --input: 260 29% 46%;
    --ring: 124 96% 48%;
    --chart-1: 43 99% 48%;
    --chart-2: 309 91% 57%;
    --chart-3: 30 93% 51%;
    --chart-4: 121 98% 53%;
    --chart-5: 39 98% 57%;
     --sidebar-background: 263 69% 28%;
    --sidebar-foreground: 160 19% 89%;
    --sidebar-primary: 124 96% 48%;
    --sidebar-primary-foreground: 354 78% 9%;
    --sidebar-accent: 263 47% 37%;
    --sidebar-accent-foreground: 160 19% 89%;
    --sidebar-border: 260 29% 46%;
    --sidebar-ring: 124 96% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
